
/* Your custom css codes start here: */
body{
  background-image: url('../images/footer-img.png') !important;
}


#sliderMob{
	position: absolute;
	width: 250px;
    height: 540px;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 80%;
    top: 20%;
    z-index: 1;
}
#sliderIcon{
	position: absolute;
    width: 450px;
    height: 120px;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 44%;
    top: 56%;
    z-index: 1;
}
#sliderPlay{
	position: absolute;
    width: 222px;
    height: 88px;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 61%;
    top: 74%;
    z-index: 1;
}

#sliderButton{
	position: absolute;
    width: 200px;
    height: 59px;
    background-color: rgba(255,255,255,0.1);
  	box-shadow: -10px 10px 20px -10px black;
    color: white;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 4%;
    border:2px solid white;
    margin-left: 45%;
    top: 76%;
    z-index: 1;
}
#sliderButton:hover{
    background-color: #6fbc66;
}

.tp-mask-wrap{
	left: -149px;
}
.bg-theme-colored-transparent, .piechart-block {
    background-color: rgba(111, 188, 102, 0.55) !important;
}
.border-right-theme-color-2-6px {
    border-right: 6px solid #337ab7 !important;
}
h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: "TezLeagueSpartan", Arial, Tahoma, sans-serif;
}
h1, .text-logo #logo {
    font-size: 48px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 0px;
}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.wpb_wrapper > div {
    margin-bottom: 35px;
}
p {
    margin: 0 0 15px;
    font-size: 18px;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
.finc{
    font-weight: 500;
    font-size: 20px;
    border-radius: 3%; 
    padding: 2%;
    height: 192px;
    width: 179px;
    margin: 1%;
    display: inline-block;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}


.finc2{
    border-radius: 3%; 
    height: 192px;
    width: 179px;
    margin: 1%;
    display: inline-block;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

.finc2 img{
  height: 100%
}


/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #01c368;
  border-color: #01c368;
}

.btn-success{
  background-color: rgb(28, 111, 181) !important;  
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: white;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #01c368;
    color: #01c368;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    background:#01c368;
    border-color: #01c368;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #01c368;
    color: white;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0 !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:170px;
    height:50px !important;
    margin:20px auto !important;
}

.btn-floating {
  background-color: rgb(28, 111, 181) !important;    
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
    bottom: 8px;
    left: 1px;
    width: 85%;
    top: 76%;
    max-width: 700px;
    background: #a4c5e1;
    box-shadow: 0 10px 11px #1f1f1f;
    background-color: #01c368 !important;
  transform: rotate(-5deg);
}
.effect1
{
  position: relative;
}
.effect1:before, .effect1:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 8px;
  right: 1px;
    width: 85%;
    top: 76%;
    max-width: 700px;
    background: #a4c5e1;
    box-shadow: 0 10px 11px #1f1f1f;
  transform: rotate(5deg);
}

/*footer contact area start*/
.footer-contact-area .line-shape {
    margin-left: 0;
}

.footer-contact-area .heading-text > p {
    margin-top: 50px;
}

.footer-contact-area .heading-text {
    margin-bottom: 50px;
}

#name {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#email {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#message {
    border-radius: 25px 25px 25px 0;
}

.btn.submit-btn {
    background: #00c367;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 22px 25px 22px 0;
}

.btn.submit-btn:hover {
    background: #1c6fb5;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-contact-area {
  background: rgba(245, 249, 252, 0.5);
}

.footer-text > p {
    margin-bottom: 10px;
}

/*end contact footer area*/

.footer-links p{
  margin: 0px;
  font-size: 15px;
}

.footer-links p a,.footer-links h6{
  color: white;
}

.footer-hr{
  margin-top: -10px;
    height: 1px;
}

/*footer manual end*/

/* contact section*/
.footer-img{
  background-color:rgba(28, 111, 181,0.8);
  /*border-radius: 3%; */
  height: 296px;
  width: 100%;
  margin: 1%;
  padding-top: 10%;
  color: white;
  font-size: 50px;
  display: inline-block;
  /*box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
  border: 2px solid white;*/
}
